guild_id: 0
database_path: data/bot.db
log_level: INFO
prefix: "!"
moderator_commands_channel_id: 0
bot_logs_channel_id: 0
mention_gif_enabled: true
mention_gif_cooldown_seconds: 600
mention_gifs_dir: assets/mention_gifs
